*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  width: 1100px;
  margin: 0 auto;
  font-family: Raleway, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
  margin: 0;
  padding: 0;
}

a {
  color: black;
    text-decoration: none;
}

img {
  width: 100%;
}

button {
  font: inherit;
}

.bet-button {
    background: none;
    border: none;
    padding: 0;
}

.lots__look-more-link {
    background: none;
    border: none;
    padding: 0;
}

.lots__card-list {
    margin: 0;
    padding: 0;
    list-style: none;
}