h1 {
    font-family: 'Raleway', sans-serif;
}

p {
    font-family: 'Raleway', sans-serif;
}

a {
    display: block;
}

.header  {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 92px 50px 96px;
    height: 293px;
}

.header__logo {
    width: 148px;
}

.header__links-list {
    display: flex;
    gap: 23px;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__links-list-item {
    list-style: circle;
}

.menu {
    margin-top: 133px;
}

.address {
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 240px;
    justify-self: end;
}

.main {
}

.cover {
    position: relative;
    min-height: 757px;
    background-image: url("../images/cover.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.overlay {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);}

.cover__title {
    position: relative;
    z-index: 2;
    color: white;
    text-transform: uppercase;
    letter-spacing: 30px;
}

.aligned-text {
    display: block;
    font-size: 100px;
}

.aligned-text_left {
    text-align: left;
    justify-content: start;
}

.aligned-text_center {
    text-align: center;
}

.aligned-text_right {
    text-align: right;
}

.lots {
}

.about {
}

.description {
}

.button {
}
