h1 {
    font-family: 'Raleway', sans-serif;
}

p {
    font-family: 'Raleway', sans-serif;
}

a {
    display: block;
}

.header  {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 92px 50px 96px;
    height: 293px;
}

.header__logo {
    width: 148px;
}

.header__links-list {
    display: flex;
    gap: 23px;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__links-list-item {
    list-style: circle;
}

.menu {
    margin-top: 133px;
}

.address {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 240px;
    justify-self: end;
}

.main {
}

.cover {
    width: 100%;
    height: 757px;
}

.lots {
}

.about {
}

.description {
}

.button {
}
