h1 {
  font-family: 'Raleway', sans-serif;
}

a {
  display: block;
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  justify-items: center;
  padding: 93px 50px 93px 50px;
}

.header__menu {
  font-size: 18px;
  justify-self: start;
}

.header__logo {
  display: block;
  width: 135px;
}

.header__links-list {
  display: flex;
  gap: 30px;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__links-list-item {
  list-style: circle;
  border-bottom: 1px solid black;
}

.header__link_active {
  border-bottom: none;
}

.menu {
  margin-top: 133px;
}

.address {
  display: flex;
  flex-direction: column;
  font-style: normal;
  font-size: 18px;
  line-height: 24.3px;
}

.header__address {
  align-items: flex-start;
  justify-self: end;
  max-width: 240px;
}

.address-item {
  border-bottom: 1px solid black;
}

.cover {
  position: relative;
  min-height: 757px;
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}

.overlay {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  inset: 0;
}

.cover__title {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2;
  color: white;
  text-transform: uppercase;
  letter-spacing: 30px;
  margin-top: 164px;
  margin-left: 50px;
  margin-right: 50px;
}

.aligned-text {
  display: block;
  width: 100%;
  font-size: 100px;
}

.aligned-text_left {
  align-self: start;
}

.aligned-text_center {
  margin-top: 17px;
  align-self: center;
  text-align: center;
}

.aligned-text_right {
  align-self: flex-end;
  text-align: end;
  margin-top: 18px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  margin: 104px 50px 15px;
  z-index: 2;
}

.cover__description-text {
  color: white;
  font-size: 22px;
  text-transform: uppercase;
  word-spacing: 18.5px;
  display: flex;
  align-items: center;
}

.bet-button {
  color: white;
  font-size: 22px;
  text-transform: uppercase;
  padding: 12px 32px 12px 32px;
  border: 1px solid white;
  background: none;
  cursor: pointer;
}

.lots {
  position: relative;
  margin-top: 178px;
}

.lots__heading {
  margin-bottom: 27px;
  text-transform: uppercase;
  font-size: 40px;
  margin-left: 64px;
}

.lots__card-list {
  display: grid;
  grid-template-columns: 334px 334px 334px;
  margin-right: 24px;
  margin-left: 24px;
  gap: 25px;
  margin-bottom: 30px;
  list-style: none;
}

.lots__card-list-item {
  display: flex;
  justify-content: space-between;
  min-height: 597px;;
}

.card-link {
  height: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  background-size: cover;
  padding: 48px 40px 48px 40px;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.card__title {
  display: inline;
  flex-direction: column;
  color: white;
  text-transform: uppercase;
  font-size: 22px;
  z-index: 2;
  text-decoration: underline;
}

.card__text {
  color: white;
  font-size: 20px;
  margin-top: auto;
  z-index: 2;
  line-height: 24px;
}

.lots__look-more-link {
  display: inline;
  border-bottom: 1px solid black;
  font-size: 20px;
  margin-left: 64px;
  background: none;
  padding: 0;
  cursor: pointer;
}

.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  grid-template-rows: 1fr;
  margin-top: 120px;
  margin-left: 24px;
  margin-right: 24px;
}

.about__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 240px;
  height: 240px;
  background-color: black;
  border-radius: 50%;
  margin-top: 35px;
  margin-left: 47px;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__column {
  margin-top: 136px;
  margin-bottom: 13px;
  margin-left: 25px;
}

.about__title {
  font-size: 40px;
  text-transform: uppercase;
}

.about__text {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-size: 20px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 172px;
  margin-bottom: 82px;
}

.footer__address {
  align-items: start;
  margin-left: 50px;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  text-align: center;
  list-style: none;
  font-size: 18px;
}

.footer__menu-link {
  display: inline-block;
  border-bottom: 1px solid black;
}

.footer__menu-link_active {
  border-bottom: none;
}

.footer__social-list {
  margin-right: 50px;
  display: flex;
  justify-content: end;
  gap: 48px;
  list-style: none;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}